

.min-h-100 {
    min-height: 100px !important;
}

.small_container{
    min-height: 85px;
}

.col{
    background-color: #ffffff;
}

.col:hover h6{
    background-color: darkred !important;
    color: white!important;
}




h6{
    margin: 0;
}





/*styling form*/



.min-h-100 {
    min-height: 100px !important;
}

.small_container{
    min-height: 85px;
}

.col{
    background-color: #ffffff;
}

.col:hover h6{
    background-color: darkred !important;
    color: white!important;
}

h6{
    margin: 0;
}

/* Form Styles */
.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.inputForm, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.btn_form {
    width: 100%;
    padding: 10px;
    /*background-color: darkred;*/
    /*color: white;*/
    /*border: none;*/
    /*border-radius: 3px;*/
    /*font-size: 16px;*/
}


.btn_form:hover {
    background-color: red;
}

#form_user{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;

}

.form-container{
    /*display: none;*/
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 90vw;
}


.tgFunction{
    display: block !important;
}

.birthday {
    background-color: cadetblue;
}

.VIP{
    background-color: greenyellow;
}

.Standard{
    background-color: darkred;
}

.Group{
    background-color: yellow;
}


.btn-remove,
.btn-edit{
    height: 20px;
    width: 20px;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid white;
}



.btn-remove i,
.btn-edit i{
    font-size: 10px;
    color: white;

}



.reservation:hover .btn-remove{
    display: flex;
}
.reservation:hover .btn-edit{
    display: flex;
}


.scaleR {
    transition: transform 0.3s ease;
}
.scaleR:hover {
    transform: scale(1.02);

    /*font-size: 0.5em;*/
}